# ##################################################
# ПАПКИ
# ##################################################
**.venv/
**.venv_t/
**__pycache__/









# ##################################################
# ФАЙЛЫ
# ##################################################
