# ##################################################
# ПАПКИ
# ##################################################
**.venv/
**__pycache__/









# ##################################################
# ФАЙЛЫ
# ##################################################
