# ##################################################
# ПАПКИ
# ##################################################
**.venv/
**.venv_t/
**.trunk/
**.pytest_cache/
**__pycache__/
**data/








# ##################################################
# ФАЙЛЫ
# ##################################################
**.txt
**.DS_Store